* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
   
}

header {
    position: fixed;
    background-color: white;
    width: 1440px;
    height: 70px;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20%;
    transition: all .50s ease;
}

.logo {
    display: flex;
    align-items: center;
    width: 72px;
    height: 69px;
}

.navBar {
    display: flex;
   
}

.navBar a {
    font-size: 1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
    color: grey;
}

.navBar a:hover {
    text-decoration: underline;
    color: #0093D5;
    transition: all .50s ease;

}

.navBar a.active {
    text-decoration: underline;
    color: #0093D5;
}

.main {
    display: flex;
    width: 220px;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-radius: 5px;
    background-color: white;
    transition: all .50s ease;
}

.main a {
    margin-right: 10px;
    margin-left: 15px;
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50s ease;
}


input {
    display: flex;
    align-items: center;
    padding: 7px 20px;
    border-radius: 8px;
    background-color: white;
}
.user button{
    display: flex;
    align-items: center;
    padding: 5px 25px;
    border-radius: 8px;
    background-color: white;
}

 button{
    display: flex;
    align-items: center;
    padding: 5px 20px;
    border-radius: 8px;
    background-color: #0093D5;
}

.hero {
    position: relative;
    background-image: url('./images/herosection.png');
    background-size: cover;
    width: 100vw;
    height: 100vh ;
}

.content {
    position: absolute;
    width: fixed 588px;
    height: 378px;
    left: 10%;
    top: 30%;
    z-index: 1000;
    display: flex;
    text-wrap: wrap;
    flex-direction: column;
    gap: 32px;
}

.content h1 {
    width: 588px;
    height: 184px;
    font-size: 3.5rem;
    font-weight: 700;
}

.content p {
    width: 588px;
    height: 57px;
    font-size: 1.1rem;
    font-weight: 500;
}

.Chooseus {
    display:flex;
    width: Fixed 1,440px;
    height: 706px;
    gap: 0px;
    opacity: 0px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 32px;
    background: #FFFFFF;
}

.box1 {
    display: flex;
    flex-direction: column;
    width: Fixed 1,120px;
    height: 176px;
    gap: 20px;
    border: 0px 0px 1px 0px;
    opacity: 0px;
    padding: 60px 0 20px;

}

.box1 h1 {
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #0D0D0D;

}

.box1 h5 {
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #0A3C75;


}

.box1 p {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #808080 ;
    word-wrap: break-word;
    padding: 15px 300px;

}

.box2 {
    display: flex;
    flex-direction: row;
    width: Fixed 1,120px;
    height: 280px;
    gap: 32px;
    align-items: center;
    justify-content: center;
    border: 0px 0px 1px 0px;
    opacity: 0px;
    padding: 40px 0 20px;
    flex-direction: row;

}

.icon {
    display: flex;
    flex-direction: column;
    width: 32px;
    height: 32px;
    gap: 0px;
    border-radius: 20%;
    background: #0093D5 ;
    align-items: center;
    justify-content: center;
    color: #0D0D0D;
}

.trendbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: Fixed 352px;
    height: 280px;
    padding: 40px 20px 40px 20px;
    gap: 15px;
    border-radius: 30px;
    opacity: 0px;
    background: #F9F9FB;

}

.trendbox h1 {
    display: flex;
    flex-direction: column;
    width: 312px;
    height: 32px;
    gap: 5px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
    color: #0D0D0D;
}


.trendbox p {
    display: flex;
    flex-direction: column;
    width: 312px;
    height: 96px;
    gap: 5px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #808080;
}


.donationbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: Fixed 352px;
    height: 280px;
    padding: 40px 20px 40px 20px;
    gap: 15px;
    border-radius: 30px;
    opacity: 0px;
    background: #F9F9FB;

}

.donationbox h1 {
    display: flex;
    flex-direction: column;
    width: 312px;
    height: 32px;
    gap: 5px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
    color: #0D0D0D;
}

.donationbox p {
    display: flex ;
    flex-direction: column;
    width: 312px;
    height: 96px;
    gap: 5px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #808080;
}

.supportbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: Fixed 352px;
    height: 280px;
    padding: 40px 20px 40px 20px;
    gap: 15px;
    border-radius: 30px;
    opacity: 0px;
    background: #F9F9FB;

}

.supportbox h1 {
    display: flex;
    flex-direction: column;
    width: 312px;
    height: 32px;
    gap: 5px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
    color: #0D0D0D;
}

.supportbox p {
    display: flex;
    flex-direction: column;
    width: 312px;
    height: 96px;
    gap: 5px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #808080;
}

.popular {
    display: flex;
    flex-direction: column;
    width: Fixed 1,484px;
    height: 939px;
    padding: 48px 120px 48px 120px;
    gap: 40px;
    opacity: 0px;
}

.help {
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
    width: Fill 1,244px;
    height: 118px;
    gap: 8px;
    opacity: 0px;
}

.help h5 {
    width: 1244px;
    height: 24px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: #1A906B;
}

.help h1 {
    width: 1244px;
    height: 44px;
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 600;
    padding: 10px 0 10px 0;
    line-height: 44px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #101828;
}

.help p {
    width: 1244px;
    height: 30px;
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #667085;
}

.rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 1,200px;
    height: 553px;
    gap: 34px;
    opacity: 0px;

}

.ratingbox {
    display: flex;
    flex-direction: column;
    width: Fixed 384px;
    height: Fixed 553px;
    padding: 24px 24px 32px 24px;
    gap: 32px;
    border-radius: 8px;
    opacity: 0px;
    background: #FFFFFF;
    box-shadow: 0px 12px 16px -4px #10182814;

}

.ratingbox2 {
    display: flex;
    flex-direction: column;
    width: Fixed 384px;
    height: Fixed 553px;
    padding: 24px 24px 32px 24px;
    gap: 32px;
    border-radius: 8px;
    opacity: 0px;
    background: #FFFFFF;
    box-shadow: 0px 12px 16px -4px #10182814;
}

.ratingbox3 {
    display: flex;
    flex-direction: column;
    width: Fixed 384px;
    height: Fixed 553px;
    padding: 24px 24px 32px 24px;
    gap: 32px;
    border-radius: 8px 0px 0px 0px;
    opacity: 0px;
    background: #FFFFFF;
    box-shadow: 0px 12px 16px -4px #10182814;
}

.ratingImg {
    width: 338px;
    height: 240px;
    gap: 0px;
    border-radius: 20px;
    opacity: 0px;
}

.ratingbox h1 {
    width: Fill 336px;
    height: 64px;
    gap: 16px;
    opacity: 0px;
}

.ratingbox2 h1 {
    width: Fill 336px;
    height: 64px;
    gap: 16px;
    opacity: 0px;
}

.ratingbox3 h1 {
    width: Fill 336px;
    height: 64px;
    gap: 16px;
    opacity: 0px;
}

.ratingbox p {
    width: 336px;
    height: 48px;
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #667085;
}

.ratingbox2 p {
    width: 336px;
    height: 48px;
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #667085;
}

.ratingbox3 p {
    width: 336px;
    height: 48px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #667085;
}

.frame {
    display: flex ;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 96px;
    height: 12px;
    gap: 7px;
    opacity: 0px;
}

.rectangle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 12px;
    top: 799px;
    left: 694px;
    gap: 0px;
    border-radius: 6px;
    opacity: 0px;
    background-color:#132231;
}

.ellipse {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12px;
    height: 12px;
    top: 799px;
    left: 754px;
    gap: 0px;
    opacity: 0px;
    border-radius: 50%;
    background-color: #D9D9D9;
}

.ellipse2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12px;
    height: 12px;
    top: 799px;
    left: 778px;
    gap: 0px;
    opacity: 0px;
    border-radius: 50%;
    background-color: #D9D9D9;
}

.explore {
    width: 184px;
    height: 40px;
    padding: 10px 16px 10px 16px;
    gap: 8px;
    border-radius: 8px;
    border: 1px;
    opacity: 0px;   
}

.explorebutton {
    width: 152px;
    height: 20px;
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    padding: 16px;
    border-radius: 8px;
    text-align: left;
    color: #070707;
    background-color: #F9FAFB; 
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: Fill 1,440px;
    height: 853.87px;
    padding: 48px 100px;
    gap: 60px;
    opacity: 0px;
}

.project1 {
    display: flex;
    width: Fixed 1,200px;
    height: Fixed 81px;
    gap: 225.42px;
    opacity: 0px;
}

.project-text {
    display: flex;
    flex-direction: column;
    width: Fill 883.51px;
    height: 100px;
    gap: 8px;
    opacity: 0px;
}

.project-text h1 {
    width: 883.51px;
    height: 44px;
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.project-text p {
    width: 883.51px;
    height: 48px;
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.project-viewbox {
    width: 91.07px;
    height: 47.05px;
    padding: 13.53px 18.03px 13.53px 18.03px;
    gap: 6.01px;
    border-radius: 6.01px;
    border: 0.75px;
    opacity: 0px;
    background: #FCFCFD;
    border: 0.75px solid #F1F1F3
}

.project-view {
    width: 55px;
    height: 20px;
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 13.53px;
    font-weight: 500;
    line-height: 20.29px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #262626;
}

.project2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    width: Fixed 1,200px;
    height: 616.87px;
    gap: 22.54px;
    opacity: 0px;
}

.project2-box {
    display: flex;
    flex-direction: column;
    width: Fixed 588.73px;
    height: Fixed 616.87px;
    padding: 37.57px;
    gap: 22.54px;
    border-radius: 9.02px;
    border: 0.75px solid #F1F1F3;
    opacity: 0px;
    background: #FFFFFF;
    border: 0.75px solid #F1F1F3
}

.project2-image {
    width: 513px;
    height: 285px;
    gap: 0px;
    border-radius: 20px;
    opacity: 0px;
}

.imgtext {
    display: flex;
    flex-direction: column;
    width: Fill 513.59px;
    height: 433.06px;
    gap: 50px;
    opacity: 0px;
}

.project2-text {
    display: flex;
    flex-direction: column;
    width: Fill 513.59px;
    height: 140.06px;
    gap: 10px;
    opacity: 0px;
}

.project2-text h1 {
    width: 513.59px;
    height: 27px;
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 18.03px;
    font-weight: 600;
    line-height: 27.05px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #262626;
}

.project2-text p {
    width: 513.59px;
    height: 58px;
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #4C4C4D;

}

.project2-viewbox {
    width: Fill 513.59px;
    height: 47.05px;
    padding: 13.53px 18.03px 13.53px 18.03px;
    gap: 6.01px;
    border-radius: 6.01px;
    border: 0.75px;
    opacity: 0px;
    background: #0093D5;
    border: 0.75px solid #F1F1F3;
    font-size: 13.53px;
    font-weight: 500;
    line-height: 20.29px;
    text-align: center;
}

.project2-view {
    width: 85px;
    height: 20px;
    gap: 0px;
    opacity: 0px;
    font-family: Vietnam Pro;
    font-size: 13.53px;
    font-weight: 500;
    line-height: 20.29px;
    text-align: center;
    color: #F3EEEE;
}

.aboutus {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fill 1440px;
    height: 642px;
    padding: 50px;
    gap: 10px;
    opacity: 0px;
    background: #E3F3FACC;
}

.aboutus-text {
    width: Fill 1,440px;
    height: 642px;
    padding: var(--Spacing-1) 15px var(--Spacing-1) 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    gap: 50px;
    opacity: 0px;
}

.learn {
    display: flex;
    flex-direction: column;
    width: 616px;
    height: 321px;
    top: 160.13px;
    left: 100px;
    gap: 0px;
    opacity: 0px;      
}

.learn-text {
    display: flex;
    flex-direction: column;
    width: 588px;
    height: 281px;
    gap: 12px;
    opacity: 0px;
}

.learn-text2 {
    display: flex;
    flex-direction: column;
    width: 588px;
    height: 281px;
    gap: 12px;
    opacity: 0px;
}

.learn-text h4 {
    width: 588px;
    height: 24px;
    gap: 10px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    line-height: 24.38px;
    text-align: left;
    color: #0093D5;
}

.learn-text2 h1 {
    width: 584px;
    height: 39px;
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 600;
    line-height: 39.01px;
    text-align: left;
    color: #000000;
}

.learn-text2 p {
    width: 584px;
    height: 182px;
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #000000;
}

.learn-button {
    width: 104px;
    height: 40px;
    padding: 10px;
    gap: 10px;
    border-radius: 8px;
    opacity: 0px;
    background: #0093D5;
}

.learn-button a {
    display: flex;
    text-align: center;
    align-items: center;
    justify-items: center;
    width: 95px;
    height: 20px;
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    color: #FFFFFF;
}

.learn-img {
    width: 494px;
    height: 408px;
    top: 0.09px;
    gap: 0px;
    border-radius: 20px;
    opacity: 0px;

}

.volunteer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: Fixed 1,440px;
    height: 734px;
    gap: 30px;
    opacity: 0px;
    background: #E3F3FACC;
}

.volunteer-box {
    display: flex;
    flex-direction: row;
    width: Fill 1,440px;
    padding: var(--Spacing-1) 15px var(--Spacing-1) 15px;
    gap: 32px;
    opacity: 10px;
}

.volunteer-img {
    display: flex;
    width: 656px;
    height: 450px;
    gap: 10px;
    border-radius: 20px;
    opacity: 0px;
}

.volunteer-block {
    width: Fixed 544px;
    height: 534px;
    padding-top: 89px;
    padding-bottom: 89px;
    gap: 40px;
    opacity: 0px;
}

.volunteer-text {
    width: Fill 544px;
    height: 272px;
    gap: 20px;
    opacity: 0px;
}

.volunteer-text h1 {
    width: 544px;
    height: 180px;
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #0D0D0D;
}

.volunteer-text p {
    width: 457px;
    height: 72px;
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #808080;
}

.volunteer-button {
    display: flex;
    width: 262px;
    height: 44px;
    gap: 10px;
    opacity: 0px;
}

.volunteer-btn1 {
    width: Fixed 104px;
    height: 40px;
    padding: 10px;
    gap: 10px;
    border-radius: 8px;
    opacity: 0px;
    background: #0093D5;
}

.volunteer-btn1 a {
    width: 60px;
    height: 20px;
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    color: #FFFFFF;
}

.volunteer-btn2 {
    width: Hug (148px)px;
    height: Hug (44px)px;
    padding: 10px 16px 10px 16px;
    gap: 6px;
    border-radius: 8px;
    border: 1px;
    opacity: 0px;
    background: #FCFCFC;
    border: 1px solid #D6D6D6;
    box-shadow: 0px 1px 2px 0px #1018280D;
}

.volunteer-btn2 a {
    width: 90px;
    height: 24px;
    gap: 0px;
    opacity: 0px;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: #0D0D0D;
}

.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 1,440px;
    height: 1,080px;
    padding: 75px 10px;
    gap: 50px;
    opacity: 0px;
    background: #FFFFFF;
}

.testimonial-box1 {
    width: 1,120px;
    height: 128px;
    gap: 20px;
    border: 0px 0px 1px 0px;
    opacity: 0px;
}

.testimonial-box1 h1 {
    width: 1120px;
    height: 60px;
    padding-bottom: 20px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #0D0D0D;
}

.testimonial-box1 p {
    width: 742px;
    height: 48px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #808080;
}

.testimonial-box2 {
    display: flex;
    flex-direction: column;
    width: fill 1,440px;
    height: 442px;
    padding: 30px 100px 30px 100px;
    gap: 20px;
    border-bottom:  0.5px;
    opacity: 0px; 
}

.testimonial-box2 h1 {
    width: 210px;
    height: 36px;
    gap: 10px;
    opacity: 0px;
}

.testimonial-box2 h1 a {
    width: 210px;
    height: 36px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 26px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    color: #303030;
}   

.testimonial-projectsbox {
    display: flex;
    width: Fixed 1,260px;
    height: 326px;
    gap: 20px;
    opacity: 0px;
}
.testimonial-projects {
    display: flex;
    flex-direction: row;
    width: Fill 620px;
    height: 326px;
    min-width: 600px;
    max-width: 700px;
    gap: 20px;
    opacity: 0px;
}

.testimonial-project1 {
    width: Fill 300px;
    height: Fixed 326px;
    min-width: 300px;
    max-width: 315px;
    padding: 10px 20px 10px 20px;
    gap: 10px;
    border-radius: 20px;
    border: 2px;
    opacity: 0px;
    background: #FFFFFF;
    border: 2px solid #948E8E
}

.testimonial-project1box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: Fill 260px;
    height: 286px;
    gap: 10px;
    opacity: 0px;
}

.testimonial-project1box img {
    width: 200px;
    height: 200px;
    gap: 0px;
    border-radius: 20px;
    opacity: 0px;
}

.testimonial-project1text {
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: Fixed 228px;
    height: 76px;
    gap: 0px;
    opacity: 0px;
}

.testimonial-project1text h1 {
    width: Fixed 220px;
    height: 36px;
    gap: 10px;
    opacity: 0px;
}

.testimonial-project1text p {
    width: 228px;
    height: 40px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    color: #898989;
}


.testimonial-project2 {
    width: Fill 300px;
    height: Fixed 326px;
    min-width: 300px;
    max-width: 315px;
    padding: 10px 20px 10px 20px;
    gap: 10px;
    border-radius: 20px;
    border: 2px;
    opacity: 0px;
    background: #FFFFFF;
    border: 2px solid #948E8E
}

.testimonial-project2box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: Fill 260px;
    height: 286px;
    gap: 10px;
    opacity: 0px;
}


.testimonial-project2box img {
    width: 200px;
    height: 200px;
    gap: 0px;
    border-radius: 20px;
    opacity: 0px;
}

.testimonial-project2text {
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: Fixed 228px;
    height: 76px;
    gap: 0px;
    opacity: 0px;
}

.testimonial-project2text h1 {
    width: Fixed 220px;
    height: 36px;
    gap: 10px;
    opacity: 0px;
}

.testimonial-project2text p {
    width: 228px;
    height: 40px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    color: #898989;
}



.testimonial-project3 {
    width: Fill 300px;
    height: Fixed 326px;
    min-width: 300px;
    max-width: 315px;
    padding: 10px 20px 10px 20px;
    gap: 10px;
    border-radius: 20px;
    border: 2px;
    opacity: 0px;
    background: #FFFFFF;
    border: 2px solid #948E8E
}

.testimonial-project3box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: Fill 260px;
    height: 286px;
    gap: 10px;
    opacity: 0px;
}

.testimonial-project3box img {
    width: 200px;
    height: 200px;
    gap: 0px;
    border-radius: 20px;
    opacity: 0px;
}

.testimonial-project3text {
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: Fixed 228px;
    height: 76px;
    gap: 0px;
    opacity: 0px;
}

.testimonial-project3text h1 {
    width: Fixed 220px;
    height: 36px;
    gap: 10px;
    opacity: 0px;
}

.testimonial-project3text p {
    width: 228px;
    height: 40px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    color: #898989;
}



.testimonial-project4 {
    width: Fill 300px;
    height: Fixed 326px;
    min-width: 300px;
    max-width: 315px;
    padding: 10px 20px 10px 20px;
    gap: 10px;
    border-radius: 20px;
    border: 2px;
    opacity: 0px;
    background: #FFFFFF;
    border: 2px solid #948E8E
}

.testimonial-project4box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: Fill 260px;
    height: 286px;
    gap: 10px;
    opacity: 0px;
}

.testimonial-project4box img {
    width: 200px;
    height: 200px;
    gap: 0px;
    border-radius: 20px;
    opacity: 0px;
}


.testimonial-project4text {
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: Fixed 228px;
    height: 76px;
    gap: 0px;
    opacity: 0px;
}

.testimonial-project4text h1 {
    width: Fixed 220px;
    height: 36px;
    gap: 10px;
    opacity: 0px;
}

.testimonial-project4text p {
    width: 228px;
    height: 40px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    color: #898989;
}

.testimonial-box3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: Fixed 895px;
    height: 210px;
    gap: 32px;
    opacity: 0px;
}

.testimonial-box3 h1 {
    width: 895px;
    height: 48px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    color: #635B69;
}

.testimonial-box3 p {
    width: 895px;
    height: 58px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: center;
    color: #242127;
}

.subscribe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 540px;
    height: 40px;
    gap: 0px;
    border: 1px;
    opacity: 0px;
    color: #0093D5;
}

.subscribe input {
    width: Fixed 388px;
    height: Fixed 38px;
    top: 171.49px;
    left: 177.5px;
    padding: 5px 20px;
    gap: 10px;
    border-radius: 5px;
    border: 1px;
    opacity: 0px;
    border: 1px solid #B1A9A9
}

.subscribe input::placeholder {
    width: 141px;
    height: 15px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
    text-align: left;
    color: #B4AFAF;
}

.subscribe button {
    width: Fixed 152px;
    height: 40px;
    top: 170px;
    left: 565.5px;
    padding: 5px 10px;
    gap: 10px;
    border-radius: 8px;
    opacity: 0px;
    background: #0093D5;
}

.subscribe p {
    width: 124px;
    height: 20px;
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    color: #FFFFFF;
}